:root {
  --backgroundColor: #1a1924;
  --fontColor: #e1e1e6;
  --myMessageColor: #07847e;
  --statusColor: #00b37e;
  --peopleMessageColor: #633bbc;
  --inputBackgroundColor: #282843;
  --fontFamily: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
}

body * {
  /* border: 0.1rem solid gray; */
  font-family: var(--fontFamily);
}

#app {
  padding: 2.4rem 3.2rem;
  height: 100vh;
  width: 100vw;
  max-width: 88.8rem;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  margin: auto;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

#userInfo img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 50%;
}

#userStatus {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#status::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  background-color: var(--statusColor);
  border-radius: 50%;
}

#status {
  color: var(--statusColor);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.4rem;
  font-size: 1.2rem;
}

.dateContainer {
  margin-top: 2.6rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}

.messagesContainer {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.chatContainer {
  overflow-y: scroll;
  padding-bottom: 2.4rem;
}

.chatContainer::-webkit-scrollbar {
  display: none;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.messageContainer.you {
  align-items: flex-end;
}

.messageContainer.contact {
  margin-right: auto;
}

.message {
  padding: 1.4rem;
  border-radius: 0.8rem;
  width: fit-content;
  max-width: 40vw;
  word-wrap: break-word;
}

.message:not(.you) {
  max-width: 40vw;
}

.timeMessage.you {
  text-align: right;
}

.message.you {
  background-color: var(--myMessageColor);
  border-bottom-right-radius: 0px;
  text-align: right;
}

.timeMessage.contact {
  text-align: left;
}
.message.contact {
  background-color: var(--peopleMessageColor);
  border-top-left-radius: 0px;
  text-align: left;
}

.inputContainer {
  background-color: var(--inputBackgroundColor);
  padding: 1.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 999rem;
  align-items: center;
  gap: 1rem;
}

.inputContainer:focus-within {
  outline: 2px solid var(--fontColor);
}

.inputContainer > input,
button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--fontColor);
}

.inputContainer > input {
  font-size: 1.2rem;
  line-height: 1.4rem;
  flex: 1;
}

.inputContainer > input::placeholder {
  color: var(--fontColor);
  font-size: 1.2rem;
}

.inputContainer > button > i {
  font-size: 2.4rem;
}
